.html-editor{
    -fx-background-color: #121212;
}

.html-editor .top-toolbar {
    -fx-background-color: #292929;
}

.html-editor .bottom-toolbar {
    -fx-background-color: #292929;
}

#textarea .html-editor .web-view {
    -fx-background-color: black;
}


.html-editor-foreground, .html-editor-background {
    -fx-color-label-visible: true;
    -fx-color-rect-x: 0;
    -fx-color-rect-y: 10;
    -fx-color-rect-width: 16;
    -fx-color-rect-height: 5;
    -fx-padding: 0;
}

.dialog-pane {
    -fx-background-color: black;
    -fx-padding: 0;
}

/*.html-editor .button, .html-editor .toggle-button, .html-editor .color-picker {
    -fx-background-color: #292929;
    -fx-border-color: #E0E0E0;

}*/

/*Combo Boxes*/
.html-editor .combo-box {
    /*-fx-background-color: #292929;
    -fx-border-color: #E0E0E0;
    -fx-text-fill: #E0E0E0;
    -fx-background-radius: 0;*/
    -fx-border-insets: 0 0 -1 0;
    -fx-border-width: 1;
    -fx-border-color: #E0E0E0;
    -fx-background-color: #292929;
}

.combo-box .list-cell:selected{
    -fx-background-color: #292929;
}

.combo-box .list-cell:hover{
    -fx-background-color: #EEAE4D;
    -fx-text-fill: #121212;
}

/*.combo-box:hover{
    -fx-border-color: #222222;
    -fx-background-color: #3E3E40;
}*/

/*.combo-box:focused{
    -fx-border-color: #4e4e4e;
    -fx-background-color: #1A1A1A;
}*/

/*.combo-box-base .arrow-button {
    -fx-padding: 0 6;
}*/

.combo-box-base .arrow-button .arrow {
    -fx-background-color: #E0E0E0;
}

/*.combo-box .list-view{
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-border-width: 0;
    border-width: 0;
    -fx-padding: 1;
    padding: 1;
}*/

/*List Cells*/
.list-cell{
    -fx-text-fill: #E0E0E0;
    -fx-background-color: #292929;
}

/*.list-cell:hover{
    -fx-background-color: #3E3E40;
}*/

/*.list-cell:pressed{
    -fx-background-color: #3E3E40;
}*/

/*.list-cell:selected{
    -fx-background-color: #E0E0E0;
}*/

/*ListView*/
.list-view{
    -fx-background-color: #292929;
}

/*.list-view .scroll-bar{
    -fx-background-insets: 0 -1 0 0;
}*/

/*Buttons*/
.button {
    -fx-text-fill: #E0E0E0;
    -fx-background-color: #292929;
    -fx-border-color: #E0E0E0;
}

.button:hover{
    -fx-background-color: #EEAE4D;
    -fx-text-fill: #121212;
}

.button:pressed{
    -fx-border-color: #474747;
    -fx-background-color: #474747;
}

/*ScrollBar*/
.scroll-bar{
    -fx-background-color: #292929;
}

.scroll-bar .decrement-button, .scroll-bar .increment-button{
    -fx-background-color: #292929;
}

.scroll-bar .decrement-button:hover, .scroll-bar .increment-button:hover{
    -fx-background-color: #EEAE4D;
    -fx-text-fill: #121212;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: #121212;
}

.scroll-bar .thumb {
    -fx-background-color: #121212;
}

/*Tooltip*/
.tooltip{
    -fx-text-fill: #121212;
    -fx-background-color: #E0E0E0;
}

/*ToggleButtons*/
.toggle-button {
    -fx-text-fill: #E0E0E0;
    -fx-background-color: #292929;
    -fx-border-color: #E0E0E0;
}

.toggle-button:hover{
    -fx-background-color: #EEAE4D;
    -fx-text-fill: #121212;
}

.toggle-button:pressed{
    -fx-border-color: #474747;
    -fx-background-color: #474747;
}

/*ColorPicker*/

.color-picker {
    -fx-background-color: #292929;
    -fx-border-color: #E0E0E0;
}

.color-picker .arrow-button .arrow {
    -fx-background-color: #E0E0E0;
}

/*ColorPalette*/
.color-palette{
    -fx-background-color: #292929;
    -fx-text-fill: #E0E0E0;
    -fx-spacing: 15px;
        -fx-background-insets: 0, 1, 2;
        -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
        -fx-padding: 15 15 15 15;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.color-palette > .color-picker-grid > .color-square > .color-rect {
    -fx-stroke: black;
    -fx-stroke-width: 0.4;
    -fx-border-color: black;
}

.color-palette > .color-picker-grid {
    -fx-border-color: transparent;
}

.color-palette .color-picker-grid .color-square {
    -fx-background-color: transparent;
    -fx-background-insets: -1, 0;
    -fx-padding: 0.5;
    -fx-border: black;
}

.color-palette-region .color-square.hover-square {
    -fx-background-color: #EEAE4D;
    -fx-border-color: #EEAE4D;
    -fx-background-insets: -1;
    -fx-padding: 0;
}

.color-palette .separator .line {
    -fx-background-color: #121212;
    -fx-border-color: #121212;
}

/*ColorDialogueBox*/
.custom-color-dialog {
    -fx-background-color: #292929;
    -fx-text-fill: #E0E0E0;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: #292929;
}

.custom-color-dialog .controls-pane .current-new-color-grid .label {
    -fx-text-fill: #E0E0E0;
}

/*.custom-color-dialog .controls-pane #settings-pane {
    -fx-hgap: 1.4166667em;
    -fx-vgap: 0.3333333em;
}*/

/*MenuBar*/
.menu {
    -fx-text-fill: #E0E0E0;
}

.menu-bar {
    -fx-background-color: #121212;
    background-color: #121212;
    -fx-text-fill: #E0E0E0;
    text-fill: #E0E0E0;
}

.menu-bar .menu-button {
    -fx-background-color: #121212;
    background-color: #121212;
    -fx-text-fill: #E0E0E0;
    text-fill: #E0E0E0;
}

.menu-bar .menu-button:hover {
    -fx-background-color: #EEAE4D;
    background-color: #EEAE4D;
    -fx-text-fill: #121212;
    text-fill:#121212;
}

.menu-item {
    -fx-background-color: #121212;
    background-color: #121212;
    -fx-text-fill: #E0E0E0;
    text-fill: #E0E0E0;
    -fx-border-width: 0;
}

.menu-item:hover {
    -fx-background-color: #EEAE4D;
    background-color: #EEAE4D;
    -fx-text-fill: #121212;
    text-fill: #121212;
}

.label {
    -fx-text-fill: #E0E0E0;
}

.label:hover {
    -fx-text-fill: #121212;
}

.text-input-control {
    -fx-text-fill: #E0E0E0;
}
